#viz-img {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    height:175px;
    width:175px
}

#background {background-color: rgb(255, 255, 255);}

#back {background-color: rgb(231, 231, 231);}

#com-img {  margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 300px;
    width:500px;
}

#color {color:rgb(113, 182, 159);
    font-weight:bold;}


#nav {background-color: rgb(113, 182, 159);
color: white;
font-weight:bold;
height:40px;
width:100px;
text-align: center;}

@media only screen and (max-width: 600px) {
    body {
      background-color: rgb(240, 82, 9);
    }
  }