#viz-img {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    height:175px;
    width:175px
}

#background {background-color: rgb(255, 255, 255);}

#back {background-color: rgb(231, 231, 231);}

#com-img {  margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 300px;
    width:500px;
}

#color {color:rgb(132, 211, 185);
    font-weight:bold;}

#nav {background-color: rgb(132, 211, 185);
color: white;
font-weight:bold;
height:40px;
width:100px;
text-align: center;}